<h1>Add new review</h1>
<form action="restaurant/<%=restaurant._id%>/reviews/" method="POST">
    <label>Review:</label><br>
    <input type="text" name="text">
    <!-- <label>Rating:
        <input type="text" name="rating"> -->
    </label><br>
    
    <button class="waves-effect waves-light btn-small">Add Review</button>
</form>