
        
             

           <%- include('../partials/nav') %> 
          
         

        <blockquote class="imgur-embed-pub" lang="en" data-id="a/kKTwe3w"><a href="//imgur.com/a/kKTwe3w"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
        <!-- <div style="background-image:url('https://i.imgur.com//a/kKTwe3w.jpg'); width:100%; height:200px; background-size: contain; background-repeat: no-repeat;" class="zoom" ></div> -->
                <p>Welcome, <%= user.name %>!</p>
                <p>Check out the list of vegan restaurants around Los Angeles and choose your favorites!</p>
            </div>
  </div>
</body>
</html>