
  
       
    <!-- <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet"> -->
      <!-- <link rel="stylesheet" href="/stylesheets/style.css" />
      <title>All Restaurants</title>
    </head>
    <body>
      <% if (!user) { %>
        <a href="/auth/google">Login with Google</a> -->
      <!-- <% } else { %> --> 
        <%- include('../partials/nav') %>
        <!-- <a href="/users/<%=user._id%>/favoriteRestaurants">My Favorite Restaurants</a>
        <a href="/logout">Log Out</a>
      </nav><br>
      <% } %> -->
<br><br><br><br>
    <h1>Add New Restaurant</h1>
    <br><br>
    <form action="/restaurants" method="POST">
        <label>Restaurant Name:
            <input type="text" name="restaurantName">
        </label><br>
        <label>Address:
            <input type="text" name="address">
        </label><br>
        <label>City:
            <input type="text" name="city">
        </label><br>

        
        <button class="waves-effect waves-light btn-small">Add Restaurant</button>
    </form>
</body>
</html>