      
  <%- include('../partials/nav') %>
  
  <br><br>
    <h1>Add Reviews</h1>
          
<br><br><br>
    <form action="/restaurants/<%= restaurant._id %>/reviews" method="POST">
      <input type="text" name="content" placeholder="Add Review Here">
      <button class="waves-effect waves-light btn-small">Add Review</button>
      

    
            
              